package Nishant_Chahar_DSA_Prepration;
import java.util.Scanner;
public class WAP_to_Find_Largest_Value_in_Array_Input_from_User {

		public static void main(String[] args) {
			Scanner obj=new Scanner(System.in);
			System.out.println("Enter the size of an Array :");
			int n=obj.nextInt();
			int arr[]= new int[n];
			System.out.print("Enter the Array :");
			for(int i=0;i<n;i++) {
				arr[i]=obj.nextInt();
			}
			int max=arr[0];
	        for(int i=0;i<arr.length;i++) {
	        	if(arr[i]>max) {
	        		max=arr[i];
	        	}
	        }
	        System.out.println("The Largest Array is:");
	        System.out.println(max);
		}

	}

